<!-- 日本語ドキュメント-->
<!-- https://v3.ja.vuejs.org/guide/introduction.html#%E5%AE%A3%E8%A8%80%E7%9A%84%E3%83%AC%E3%83%B3%E3%82%BF%E3%82%99%E3%83%AA%E3%83%B3%E3%82%AF%E3%82%99
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Vue3Basics1</title>
        <style>
            [v-cloak] {
                display: none;
            }

            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>

    <body>
        <div id="app" v-cloak>
            <!--{{ greeting }}
            <input @keyup.enter="greet(greeting + '!!!!!')" v-model="greeting" /> --> <!-- @keyup.13 とかもある-->
            <login-form /> 
            <hr />
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({})
            // ` の打ち方は shift+@
            app.component('login-form', {  // <p v-for="(str, i) in inputs" :key="i"> {{ i }} </p>
                template: `                                  
                    <form @submit.prevent="handleSubmit">
                        <h1> {{ title  }} </h1>
                        <custom-input 
                            v-for="(input, i) in inputs"
                            :key="i"
                            v-model="input.value" 
                            :label="input.label"
                            :type="input.type"
                        />
                        <button>Log in</button>
                    </form>
                `,
                components: ['custom-input'],
                data(){
                    return {
                        title: 'Login Form',
                        inputs: [  // 'email','password','name'
                            {
                                label: 'Email',
                                value: '',
                                type: 'email'
                            },
                            {
                                label: 'Password',
                                value: '',
                                type: 'password'
                            }
                        ]
                    }
                },
                methods:{
                    handleSubmit(){
                        console.log(this.inputs[0].value, this.inputs[1].value)
                    }
                }
            })

            app.component('custom-input', {
                template: `
                    <label>
                        {{ label }}
                        <input :type="type" v-model="inputValue">
                    </label>
                `,
                props: ['label', 'type', 'modelValue'],       // v-model = :modelValue
                computed: {
                    inputValue: {
                        get() {
                            return this.modelValue
                        },
                        set(value) {
                            this.$emit('update:modelValue', value)
                        }
                    } 
                }
            })

            app.mount('#app')
        </script>
    </body>
</html>